.innerContainer {
    width: 400px;
    background-color: white;
    padding: 50px;
    padding-bottom: 20px;
    margin: 0px auto;
    top: 100px;
    position: relative;
}

.outerContainer {
    height: 100%;
    background-color: beige;
}

.formHeader {
    text-align: center;
    padding-bottom: 40px;
}

.toggleLogin {
    padding-top: 20px;
}

.toggleButton {
    display: inline-block;
    width: 49%;
    cursor: pointer;
    text-align: center;
}